{{!-- user, pu_id,user_id, usertype --}}
<div class="page-title page-title-fixed">
    <h1>Chat {{usertype}}</h1>

    <a href="#" class="page-title-icon shadow-xl bg-theme color-theme" onclick="refreshPage()"><i
            class="fa fa-refresh"></i></a>
    <a href="/all-brokers" class="page-title-icon shadow-xl bg-theme color-theme"><svg
            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
        </svg></a>
    <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-dark" data-toggle-theme=""><i
            class="fa fa-lightbulb color-yellow-dark"></i></a>
    <a href="#" class="page-title-icon shadow-xl bg-theme color-theme" data-menu="menu-main"><i
            class="fa fa-bars"></i></a>
</div>
<div class="page-title-clear"></div>

<div class="page-content">

    <div class="content mt-0 mb-n5">
        {{#eq usertype "reciver"}}
        {{#each brokers.chat}}
        {{#eq this.usertype "reciver"}}
        <div class="speech-bubble speech-left bg-highlight">
            {{this.msg}}
        </div>
        <div class="clearfix"></div>
        {{/eq}}
        {{#eq this.usertype "sender"}}
        <div class="speech-bubble speech-right color-black ">
            {{this.msg}}
        </div>
        <div class="clearfix"></div>
        {{/eq}}
        {{/each}}
        {{/eq}}
        {{#eq usertype "sender"}}
        {{#each brokers.chat}}
        {{#eq this.usertype "sender"}}
        <div class="speech-bubble speech-left bg-highlight">
            {{this.msg}}
        </div>
        <div class="clearfix"></div>
        {{/eq}}
        {{#eq this.usertype "reciver"}}
        <div class="speech-bubble speech-right color-black">
            {{this.msg}}
        </div>
        <div class="clearfix"></div>
        {{/eq}}
        {{/each}}
        {{/eq}}

    </div>
</div>
<!-- Page content ends here-->
{{!-- <div id="footer-bar" class="d-flex" style="transform: translateX(0px);">
    <div class="me-3 speach-icon">
        <a href="#" data-menu="menu-upload" class="bg-gray-dark ms-2"><i class="fa fa-plus pt-2"></i></a>
    </div>
    <form action="/chat/{{usertype}}/{{user_id}}/{{brokerId}}">
        <div class="flex-fill speach-input">
            <input type="text" name="msg" class="form-control" placeholder="Enter your Message here">
        </div>
        <div class="ms-3 speach-icon">
            <a href="#" type="submit" class="gradient-highlight color-white me-2"><i
                    class="fa fa-arrow-up pt-2"></i></a>
        </div>

    </form>
</div> --}}

<div id="footer-bar" class="d-flex" style="transform: translateX(0px);">

    {{!-- <div class="me-3 speach-icon">
        <a href="#" data-menu="menu-upload" class="bg-gray-dark ms-2"><i class="fa fa-plus pt-2"></i></a>
    </div> --}}
    <form action="/chat/{{usertype}}/{{user_id}}/{{brokerId}}" method="post">
        <div class=" ms-4 speach-input">
            <input type="text" class="form-control w-100" style="width: 100px;" name="msg"
                placeholder="Enter your message here">
        </div>

        <div class="ms-3 speach-icon">
            <a href="#" type="submit" class="gradient-highlight color-white me-2"><i
                    class="fa fa-arrow-up pt-2"></i></a>
        </div>
    </form>
</div>

<div id="menu-upload" class="menu menu-box-bottom rounded-m" data-menu-height="275" data-menu-effect="menu-over">
    <div class="list-group list-custom-small ps-2 me-4">
        <a href="#">
            <i class="font-14 fa fa-file color-gray2-dark"></i>
            <span class="font-13">File</span>
            <i class="fa fa-angle-right"></i>
        </a>
        <a href="#">
            <i class="font-14 fa fa-image color-gray2-dark"></i>
            <span class="font-13">Photo</span>
            <i class="fa fa-angle-right"></i>
        </a>
        <a href="#">
            <i class="font-14 fa fa-video color-gray2-dark"></i>
            <span class="font-13">Video</span>
            <i class="fa fa-angle-right"></i>
        </a>
        <a href="#">
            <i class="font-14 fa fa-user color-gray2-dark"></i>
            <span class="font-13">Camera</span>
            <i class="fa fa-angle-right"></i>
        </a>
        <a href="#">
            <i class="font-14 fa fa-map-marker color-gray2-dark"></i>
            <span class="font-13">Location</span>
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>



<script>
    function refreshPage() {
        // Reload the current page
        location.reload();
    }
</script>